//$pink: #FF2232; OLD PINK
$pink: #ff214f;
$blue: #000747;
$white: #f8f8f8;
$black: #222222;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#preloader {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
}

@font-face {
font-family: "FontAwesome";
font-weight: normal;
font-style : normal;
       src : url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
       src : url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"),
             url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"),
             url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"),
             url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"),
             url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
}

@font-face {
font-family: "Bebas Neue";
font-weight: normal;
font-style : normal;
       src : url("../fonts/bebas_neue/BebasNeue-Regular.otf");
       src : url("../fonts/bebas_neue/BebasNeue-Regular.ttf");
}

@import 'devices';
@import 'footer';
@import 'nav';
@import 'home';
@import 'contactForm';
@import 'icons';
@import 'servicio';

.container {
  @include dfScreens {
    width: 90%;
  }
}

body {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

ul {
  list-style: none !important;
}

a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}

a:visited {
  color: $black;
}

.fake-nav {
  width: 250px;
  height: 100vh;
  display: inline;

  @include smScreens {
    display: none !important;
  }
}

.reg-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  transition: 1s ease width;

  @include smScreens {
    display: none !important;
  }
}

header {
  display: none;
}

.wrapper {
  display: none;
  margin-left: 250px;
  transition: 1s ease margin-left;
  overflow-x: hidden;

  @include smScreens {
    margin-left: 0;
    margin-top: 5em;
  }

  h2 {
    font-family: "bebas neue";
    letter-spacing: 1px;
  }
}

.wrapper.expand {
  margin-left: 100px;

  @include smScreens {
    margin-left: 0;
  }
}

.pink {
  color: $pink;
}
